@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Roboto"),
    url("../font/Roboto.woff2") format("woff2"),
    url("../font/Roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local("Roboto"),
    url("../font/Robotomedium.woff2") format("woff2"),
    url("../font/Robotomedium.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    local("Roboto Light"),
    url("../font/Robotolight.woff2") format("woff2"),
    url("../font/Robotolight.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local("Raleway medium"),
    url("../font/Ralewaymedium.woff2") format("woff2"),
    url("../font/Ralewaymedium.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local("Raleway italic"),
    url("../font/Raleway-Italic.woff2") format("woff2"),
    url("../font/Raleway-Italic.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("Raleway bold"),
    url("../font/Ralewaybold.woff2") format("woff2"),
    url("../font/Ralewaybold.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Raleway regular"),
    url("../font/Ralewayregular.woff2") format("woff2"),
    url("../font/Ralewayregular.woff") format("woff");
}

@font-face {
  font-family: "Lora";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    local("Lora Bold"),
    // url("../font/Ralewayregular.woff2") format("woff2"),
    url("../font/Lora-BoldItalic.woff") format("woff");
}
