.banner {
    width: 100%;
    padding: 0 20px;
    margin-top: 20px;

    & a {
        display: block;
        text-decoration: none;
    }

    &__block {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
        background: url('../img/banner-main.jpg') no-repeat 0 0;
        background-size: cover;
        position: relative;
        min-height: 322px;

        & p {
            font-size: 50px;
            line-height: 65px;
            font-family: $banner-font;
            font-weight: 700;
            font-style: italic;
            color: #655F41;
            max-width: 420px;
            margin: 0 auto 18px auto;
            padding-top: 83px;
        }


        & span {
            display: block;
            font-size: 16px;
            line-height: 19px;
            color: #655F41;
            margin: 0 auto;
            text-align: center;
        }
    }
}