.banner {
    width: 100%;
    padding: 0 20px;


    &__block {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
        background: url('../img/banner.jpg') no-repeat 0 0;
        background-size: cover;
        position: relative;
        min-height: 322px;

        &::after {
            position: absolute;
            content: "";
            right: 180px;
            width: 30%;
            height: 100%;
            top: 18px;
            background: url('../img/banner-right.png') no-repeat 100% 0;
        }



        & span {
            font-size: 16px;
            line-height: 19px;
            color: #655F41;
        }
    }
}