.breadcrumbs {
  padding-top: 30px;
  padding-bottom: 20px;

  & ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & li {
    margin-right: 5px;

    &:not(:first-of-type)::before {
      content: "/";
      width: 10px;
      height: 19px;
      font-family: $second-font;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
    }
  }

  & a {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    color: #E06565;
    text-decoration: none;
    transition: opacity 0.2s;

    &:first-of-type::before {
      content: "";
      flex-shrink: 0;
      width: 20px;
      height: 8px;
      margin-right: 5px;
      background-image: url("../img/arrow-back.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  & span {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
}
