.contacts {
  padding-bottom: 85px;
  & .contacts__wrapper {
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
  }
  & .contacts__data {
    padding-top: 60px;
  }

  & .contacts__data-container {
    display: flex;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
  }

  & h2 {
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
  }

  & .contacts__map {
    border-radius: 50%;
    width: 480px;
    height: 480px;

    & ymaps {
      border-radius: 50%;
    }
  }

  & .contacts__data-where {
    margin-bottom: 40px;

    & a {
      text-decoration: none;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #E06565;
      border-bottom: 1px dashed #E06565;

      &:hover {
        opacity: 0.7;
      }
    }

    & p {
      font-style: normal;
      font-weight: 300;
      font-size: 30px;
      line-height: 35px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #000000;
      margin: 0 0 7px;
    }
  }

  & .contacts__data-phone {
    margin-bottom: 30px;

    & a {
      text-decoration: none;
      font-style: normal;
      font-weight: 300;
      font-size: 30px;
      line-height: 35px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #000000;

      &:hover {
        opacity: 0.7;
      }
    }

    & p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #E06565;
      margin: 10px 0 0;
    }
  }

  & .contacts__data-social {
    margin-bottom: 30px;

    & ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 110px;
      justify-content: space-between;

      & a {
        &:hover {
          opacity: 0.7;

          & .contacts__vk {
            fill: #E06565;
          }

          & .contacts__insta {
            fill: #E06565;
          }

          & .contacts__fb {
            fill: #E06565;
          }
        }
      }

      & .contacts__vk {
        fill: #c4c4c4;
      }

      & .contacts__insta {
        fill: #c4c4c4;
      }

      & .contacts__fb {
        fill: #c4c4c4;
      }
    }
  }

  & .contacts__btn {
    text-decoration: none;
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #E06565;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
    border: 2px solid #E06565;
    border-radius: 200px;
    min-width: 188px;
    max-width: 188px;
    height: 55px;
  }

  & .contacts__way-container {
    padding-top: 70px;

    & h3 {
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 42px;
      color: #000000;
      margin: 0;
            margin-bottom: 30px;
    }

    & .contacts__params {
      & .contacts__values {
        width: 100%;
      }

      & ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        max-width: 625px;
        width: 100%;
        padding-top: 32px;
        padding-bottom: 32px;
        box-sizing: border-box;
        border: 1px solid #E06565;
        padding-left: 4.2%;
        padding-right: 4.2%;
        flex-wrap: wrap;

        & li {
          & span {
            font-family: $second-font;
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 35px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #E06565;
          }

          & p {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            /* identical to box height */
            color: #000000;
            margin: 0;
          }
        }
      }
      padding-right: 6.5%;
      display: flex;
      justify-content: space-between;
      & .contacts__btn {
        margin-top: 23px;
      }
    }

    .contacts__way {

      max-width: 1125px;
      margin-bottom: 40px;
      & ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;


        padding-left: 30px;
        & li {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          /* identical to box height */

          color: #000000;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background: #E06565;
            left: -30px;
          }
          &::after {
            content: "";
            position: absolute;
            height: 1px;
            width: 100px;
            background: #E06565;
            top: 8px;
            right: -110px;
          }
          &:last-child::after {
            content: none;
          }


        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .contacts {
  .contacts__way {
    display: none;
  }

}
}

@media (max-width: 1000px) {
  .contacts {
    & .contacts__data-container {
      flex-direction: column;
      & .contacts__map {
                        margin-top: 30px;
      }

    }
  & .contacts__way-container {

  & .contacts__params {
    flex-direction: column;
  }
}
}
}
@media (max-width: 768px) {
  .contacts {
    & .contacts__data-container {
      & .contacts__data-where {
        margin-bottom: 40px;

        & a {
          text-decoration: none;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          /* identical to box height */
          font-feature-settings: 'pnum' on, 'lnum' on;
          color: #E06565;
          border-bottom: 1px dashed #E06565;

          &:hover {
            opacity: 0.7;
          }
        }

        & p {
          font-style: normal;
          font-weight: 300;
          font-size: 20px;
          line-height: 120%;
          font-feature-settings: 'pnum' on, 'lnum' on;
          color: #000000;
          margin: 0 0 7px;
        }
      }
      flex-direction: column;
      & .contacts__map {

                margin-top: 30px;
        width: 250px;
        height: 250px;
      }
    }
    & .contacts__way-container {

    & .contacts__params {

    & ul {
      flex-direction: column;
    }
  }
}
}
}
