.header {
    width: 100%;
    position: relative;
    padding-bottom: 5px;

    & .wrapper {
        display: flex;
        align-items: center;
    }

    & ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    & a {
        &:hover {
            opacity: 0.8;

            & .header__vk {
                fill: #E06565;
            }
            & .header__insta {
                fill: #E06565;
            }
            & .header__fb {
                fill: #E06565;
            }
        }
    }

    &__vk {
        fill: #c4c4c4;
    }

    &__insta {
        fill: #c4c4c4;
    }

    &__fb {
        fill: #c4c4c4;
    }

    &__top {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #8E8E8E;
        padding: 12px 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        & a {
            color: inherit;
            text-decoration: none;
            font-weight: 500;
            margin-right: 45px;
        }

        & ul {
            margin-left: auto;

            & a {
                margin-right: 0;
                margin-left: 13px;
            }
        }

        & p {
            margin: 0;
        }
    }

    &__bottom {
        padding: 0 20px;
        & a {
            text-decoration: none;
            display: flex;
            align-items: center;
            color: black;
            margin-top: 17px;

            & span {
                font-family: $second-font;
                font-style: italic;
                font-size: 14px;
                line-height: 16px;
                margin-left: 20px;
            }
        }

        & nav {
            margin-left: auto;
            display: flex;
            align-items: center;

            & a {
                margin-right: 30px;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            }

            & .header__active a {
                font-weight: 500;
                border-color: black;
            }

            & .js-popup {
                font-weight: 500;
                color: #121212;
                border-bottom: 1px dashed rgba(224, 101, 101, 0.8);
                margin-left: 30px;
            }


        }

        & .header__cart {
            position: relative;
            margin-left: 34px;
            margin-right: 5px;
            & span {
                width: 22px;
                height: 22px;
                bottom: -9px;
                right: -5px;
                display: block;
                position: absolute;
                background: #E06565;
                border-radius: 50%;
                color: white;
                font-style: normal;
                z-index:1;
                text-align: center;
                line-height: 22px;
                font-size: 13px;
                font-family: $font;
            }

            & svg {
                width: 27px;
                height: auto;
                & path {
                    stroke: black;
                }
            }
        }
    }

    & .header__burger {
        display: none;
        background: transparent;
        border: none;
        padding: 0;
        top: 40px;
        right: 30px;
        position: absolute;
        z-index: 4;
    }
}

@media(max-width: 1150px) {
    .header__bottom {
        & nav {
            & a {
                margin-right: 15px;
            }

            & .js-popup {
                margin-left: 15px;
            }
        }

        & .header__cart {
            margin-left: 14px;
        }
    }
}

@media(max-width: 1024px) {
    .header__top {
        display: none;
        position: absolute;
        right: 30px;
        top: 30px;
        width: 230px;
        z-index: 6;
        border-bottom: none;

        & p {
            margin-top: 5px;
            font-size: 12px;
            line-height: 14px;
            color: #8E8E8E;
        }

        & .wrapper {
            display: block;

        }

        & ul {
            position: absolute;
            top: 305px;
            left: 5px;
        }
       
    }

    .header__bottom {
        & .header__logo {
            margin-top: 30px;
            padding-left: 10px;
            & img {
                width: 62px;
                height: auto;
            }
        }
    }

    .header__bottom nav{
        display: none;
        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
        background: white;
        min-height: 100vh;
        width: 283px;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
        padding-top: 115px;
        padding-left: 40px;

        & a {
            z-index: 7;
        }

        & .header__active a {
            font-weight: 400;
            border-color: rgba(0, 0, 0, 0.2);
        }

        & ul {
            flex-direction: column;
            align-items: flex-start;

            & li:last-child {
                margin-top: 22px;
                & a {
                    margin-left: 0;
                }
            }
        }
    }

    .header .header__cart {
        position: fixed;
        z-index: 2;
        bottom: 40px;
        right: 20px;
        width: 76px;
        height: 76px;
        border-radius: 50%;
        background: #E06565;
        display: flex;
        justify-content: center;
        align-items: center;

        & svg {
            width: 27px;
            height: auto;
            fill: #E06565;
            & path {
                stroke: white;
            }
        }

        & span {
            background:  #727272;
            font-size: 16px;
            width: 31px;
            height: 31px;
            line-height: 31px;
            top: -10px;
        }
    }

    .header .header__burger {
       display: block;

    }
}

@media(max-width: 500px) {
    .header {
        &__bottom {
            & .header__logo {
                margin-top: 15px;
                & span {
                    margin-left: 27;
                    font-size: 10px;
                }
            }
        }

        & .header__burger {
            top: 25px;
        }
    }
}