.liable__title {
  font-size: 60px;
  line-height: 70px;
  font-weight: 800;
  color: #353535;
  margin-top: 100px;
  width: 40%;
  margin-bottom: 15px;


}

.liable__wrapper {
  padding: 0;
  margin: 0 auto;
  max-width: 1254px;
  padding-bottom: 70px;
  padding-left: 27px;
  padding-right: 27px;
}

.liable__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;



& li {
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  padding-bottom: 25px;
  border-bottom: 1px solid #D6D6D6;

  &:nth-child(2n-1) {
    margin-right: 5%;
  }
}

& b {

font-family: $font;
font-size: 24px;
line-height: 32px;
color: #353535;
font-weight: 700;
margin-bottom: 10px;
}
& p {
font-family: $font;
font-size: 18px;
line-height: 24px;

color: #4B4B4B;
margin: 0;
}

& a {
  font-family: $font;
  font-size: 18px;
  line-height: 24px;
  color: #38AAF6;
  text-decoration: none;
}
}

@media (max-width: 1200px) {
  .liable__list {
    height: 100%;
  }
}

@include tablet {
  .liable__title {
    font-size: 30px;
    line-height: 114%;
    width: 100%;
  }

  .liable__list {

  & b {
    font-size: 18px;
    line-height: 120%;
  }
  & p {
    font-size: 14px;
    line-height: 120%;
  }
  & a {
    font-size: 14px;
    line-height: 120%;
  }
}
}
